@import 'lib/variables';
@import 'lib/mixins';
@import 'components/buttons';
@import 'components/headlines';
@import 'components/underline';
@import 'fonts/fontFamilies';
@import 'sections/sections';

body {
  background-color: $colorVanilla;
  margin: 0;
  font-family: $fontRoboto;
}
