.footerContainer {
  flex-direction: column;
}

.footerDiv {
  height: 226px; 
}

p {
  font-size: 18px;
}

.footerAddress {
  white-space: pre-line;
  margin: 20px 0 0 0;
}

.footerContact {
  margin: 20px 0 0 0;
}

.footerEmail {
  margin: 0 0 0 0;
  text-decoration: none;
}