footer {
	color: $colorVanilla;
}

p {
    font-size: 14px;
	font-weight: 400;
	margin-left: 1.7rem;
	overflow-wrap: break-word;
}

.footerDiv {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $colorPrimaryColor;
	z-index: 10;
}

.footerEmail {
	font-weight: 700;
	margin: 0;
}

.footerAddress {
  white-space: pre-line;
  margin-top: 30px 0 0 0;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  .footerContact {
	margin: 0;
  }
}

.footerEmailAddress,
.footerEmailAddress:visited {
  color: #383838;
  text-decoration: none;
}

.footerEmailAddress:focus,
.footerEmailAddress:hover {
  color: #F6F7F3;
}