footer {
	color: $colorVanilla;
}

.footerDiv {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $colorPrimaryColor;
	z-index: 10;

	p {
		font: $fontRoboto;
		font-weight: 500;
		margin-left: 1.7rem;
		overflow-wrap: break-word;
	}
}

.footerAddress {
	white-space: pre-line;
}

.footerEmailAddress {
	color: $colorGraphite;
}
