body {
  font-family: $fontRoboto;
}

.h2Qwitcher,
.h3Qwitcher,
.navLogoQwitcher {
  font-family: $fontQwitcher;
}

input[type=reset], input[type=submit] {
  font-family: $fontRoboto;
}

button {
  font-family: $fontRoboto;
}