.carouselBottomDotsContainer {
  @include flexRowCentered;
  .carouselBottomDot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: $colorBeachPeach;
  }

  .carouselBottomDot.activeDot {
    background-color: $colorPrimaryColor;
  }
}
