body {
  overflow-x: hidden;
}

main {
  @include flexColCentered;
  overflow-x: hidden;
}

.reviewsSection {
  @include flexColCentered;
  margin-bottom: 2.5rem;
  overflow-x: hidden;
}

.reviewCarouselCardContainer {
  @include flexRowCentered;
  gap: 14px;
  overflow-x: hidden;
}

.reviewCarouselCard {
  border: 3px solid $colorPrimaryColor;
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 90px 1fr;
  grid-auto-flow: column;
  height: 162px;
  width: 236px;
  overflow-x: hidden;

  img {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    justify-self: center;
  }
  h3 {
    text-align: center;
    margin-top: 0.2rem;
  }

  p {
    margin-top: 0;
    text-align: center;
    grid-row: 1 / span 2;
    margin: 0 0.5rem 0.5rem 0.5rem;
  }
}

.reviewCarouselCardContainer.sliding-transition {
  transition: transform 1s linear;
}
