.secondSection {
    width: 350px;
    margin: 0 auto 0 auto;

    .shortTopImageText {
        font-family: $fontRoboto;
        width: 300px;
        text-align: center;
        margin: 40px auto 0 auto;
        line-height: 2rem;
        font-weight: 400;
    }

    .longTopImageText {
        @include displayNone;
    }

    .topImage {
        height: 224px;
        width: 100%;
        margin: 40px auto 40px auto;
        border-radius: 10px;
    }

    .topImage2 {
        @include displayNone;
    }
}