.secondSection {
    width: 1200px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;

    .shortTopImageText {
        font-family: $fontRoboto;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        margin: 40px 0 40px 0;
        line-height: 1.75rem;
        display: flex;
        flex-wrap: wrap;
        @include displayNone;
    }

    .longTopImageText {
        font-family: $fontRoboto;
        font-size: 1.125rem;
        width: 900px;
        text-align: center;
        margin: 79px auto 40px auto;
        line-height: 1.75rem;
        @include displayVisible;
        
        .underline {
            margin-top: 64px;
        }
    }

    .images {
        display: flex;
        width: auto;
        gap: 40px;
        margin: 30px auto 60px auto;

        .topImage {
            height: 373px;
            width: 560px;
            border-radius: 10px;
            margin: 0 0 0 0;
        }
    
        .topImage2 {
            height: 373px;
            width: 560px;
            border-radius: 10px;
            @include displayVisible;
        }
    }

    
}