.newsletterForm {
    width: 361px;
}

input[type=text]{
    height: 45px;
    width: 305px;
    margin-left: 0;
    padding-left: 1.25rem;
    padding-right: 1.875rem;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: $fontRoboto;
}