.firstSection {
    height: 348px;
    width: 900px;
    margin: 0 auto 0 auto;
    @include flexColCentered;

    h2 {
        width: 900px;
        margin: 0 auto 40px auto;
        text-align: center;
        color: $colorSecondaryColor;
        font-family: $fontQwitcher;
        font-size: 3.438rem;
    }

    .svgIcon {
        width: 150px;
        height: 125px;
        top: 0;
        left: 0;
        margin: 0 auto 0 auto;
    }
}