.firstSection {
    height: 300px;
    width: 900px;
    margin: 0 auto 20px auto;
    @include flexColCentered;

    h2 {
        width: 900px;
        margin: 0 auto 30px auto;
        text-align: center;
        color: $colorSecondaryColor;
        font-family: $fontQwitcher;
        font-size: 3.438rem;
    }

    .svgIcon {
        width: 138px;
        height: 118px;
        top: 0;
        left: 0;
    }
}